body {
    background-color:  pink;
    border: white;
}

h1{
    text-align: center;
    border: chartreuse;
    border-color:red;
    border-radius: 5px solid;
    font:bold;
    font-style: italic;
 
}