body {
    background-color:  pink;
    border: white;
}

h1{
    text-align: center;
    border:2px red;
    border-style:solid;
    border-radius: 15px solid;
    font:bold;
    font-size: x-large;

  /*font-style: italic; */
 
}