body {
    background-color:  pink;
    border: white;
}

h1{
    text-align: center;
    border: 2px solid chartreuse;
    border-color:red;
    border-radius: 5px solid;
    
    font:bold;
    font-size: x-large;

  /*font-style: italic; */
 
}